@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap');

.casino-bet {
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif !important;
    user-select: none;
    background-image: url('../img/casino/replika.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 55.129629629629626vh;
    height: 7.962962962962963vh;
    border-radius: 1.111111111111111vh;
}

.casino-bet * {
    box-sizing: inherit;
}

.casino-bet__right {
    position: absolute;
    right: 10%;
    top: -1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.casino-bet__center {
    position: absolute;
    right: 0;
    top: 0;
}

.casino-bet__left {
    width: 30.185185185185183vh;
    position: absolute;
    left: 0;
    top: -1vh;
}

.casino-bet__top {
    height: 7.62962962962963vh;
    display: flex;
    align-items: center;
    padding: 0 2.2037037037037037vh;
    border-radius: 2vh;
}

.casino-bet__right-bottom {
    font-size: 1.6666666666666665vh;
    color: #fff;
    background: linear-gradient(141.21deg, rgba(26, 26, 26, 0.92) 22.28%, rgba(0, 14, 27, 0.88) 92.3%);
    padding: 1vh 2vh;
    border-radius: 0.8555555555555555vh;
}

.casino-bet__black-text {
    color: #090909;
    font-weight: bold;
    font-size: 2.2666666666666665vh;
}

.casino-bet__bet {
    width: 13.833333333333333vh;
    height: 8.6925925925925926vh;
    margin-right: 1vh;
    background-image: url('../img/casino/border-grey-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    color: #E9CA05;
    font-size: 2.2666666666666665vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.casino-bet__bet_chips {
    background-image: url('../img/casino/chips-window.png');
    padding-top: 2.7777777777777777vh;
    width: 10.833333333333333vh;
    font-size: 1.7666666666666665vh;
}

.casino-bet__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -3vh;
}

.casino-bet__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.9962962962962963vh;
    color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.casino-bet__btn_left {
    background-image: url('../img/casino/left-btn.png');
    width: 9.462962962962963vh;
    height: 8.4074074074074074vh;
    line-height: 2.4074074074074074vh;;
    transform: translateX(0.37037037037037035vh);
}

.casino-bet__btn_center {
    background-image: url('../img/casino/center-btn.png');
    width: 10.111111111111111vh;
    height: 7.0370370370370368vh;
    line-height: 3.0370370370370368vh;
}

.casino-bet__btn_right {
    background-image: url('../img/casino/right-btn.png');
    width: 9.462962962962963vh;
    height: 8.4074074074074074vh;
    line-height: 2.4074074074074074vh;
    transform: translateX(-0.37037037037037035vh);
 }
